
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color
$white: #ffffff;
$black: #333333;
$red: #FA0F00;
$dark-red: #9C0900;
$blue: #1473E6;
$dark-gray: #a9a9a9;
$light-gray: #ECECEC;

// Normal mode
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            #2020E0;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);

// Breakpoints
$screen-md: 769px;
$screen-lg: 992px;

// heading sizes
$h1-lg: 60px;
$h2-lg: 48px;
$h3-lg: 40px;
$h4-lg: 32px;
$h5-lg: 24px;
$h6-lg: 18px;

$h1-md: 48px;
$h2-md: 40px;
$h3-md: 32px;
$h4-md: 24px;
$h5-md: 18px;
$h6-md: 16px;